* {
  margin: 0%;
  padding: 0%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  text-decoration: underline;
  letter-spacing: 20px;
  align-items: center;
}
h1 {
  font-size: 30px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 40px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
